.AlignContent {
  width: 150px;
  height: 300px;
  border: 2px solid #000000;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 10px;
}
.AlignContent div {
  width: 150px;
  height: 70px;
}
#one {
  background-color: cadetblue;
}
#two {
  background-color: coral;
}
#three {
  background-color: rgb(109, 230, 109);
}
