.BackgroundPosition {
  background-image: url(https://www.iconfinder.com/data/icons/energy-technology-flat-multicolor-background-shado/2048/318_-_Water_II-128.png);
  height: 200px;
  width: 50%;
  border: 1px solid black;
  background-repeat: no-repeat;
  margin: 20px;
  background-size: 70px;
}
