.list-style .list {
  margin-left: 50px;
  width: 200px;
  height: 150px;
  border: 1px solid rgb(49, 68, 172);
}
.list-style li {
  background-color: rgb(194, 213, 221);
  width: 110px;
  height: 24.5px;
  justify-content: center;
}
