
*{
    box-sizing: border-box;
}
span a{
    color:#fff;
    text-decoration: none;
}

.navbar-wrapper{
    width: 100%;
    background: #1d1e22;
    position: relative;
    min-height: 70px;
  }
  .navbar-menu-list{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin: 0;
    padding: 0 20px;
  }
  .navbar-menu-list > li{
    padding: 25px 20px;
    display: unset;
    color: white;
    cursor: pointer;
    position: relative;
  }
  .navbar-menu-list > li:nth-child(3) span:after{
    content: '';
    display: inline-block;
    margin-left: .2em;
    vertical-align: .175em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  .navbar-menu-list > li:nth-child(3):hover .sub-menu{ display: block;}
  .navbar-menu-list > li:first-child{ padding-right: 50px; }
  .sub-menu{
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    color: #1d1e22;
    border-radius: 3px;
    top: calc(100% - 15px);
    padding: 0;
    left: 0;
    display: none;
  }
  .sub-menu::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 9px solid transparent;
    border-bottom: 9px solid #fff;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }




  .sub-menu > li{
    display: block;
    padding: 15px 30px; 
    margin: 3px;
    width: max-content;
  }
  .sub-menu > li:hover{ 
      background:#efefef;
      border-radius: 4.5px;

}
  .sub-menu > li:active{ background: blue; color: #fff; }
  .mobile-menu-open{
    width: 30px;
    padding: 5px 13px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  /* Mobile Version */
  @media only screen and (max-width: 800px) {
    .hidden{ display: none !important; }
    .shown{ display: block !important; }
    .mobile-menu-open{
      display: block;
    }
    .navbar-menu-list{ padding-top: 70px; display: none; }
    .navbar-menu-list > li{
      float: unset;
      width: 95%;
      display: block;
      padding: 20px 10px;
    }
    .navbar-menu-list > li:last-child{ padding-bottom: 30px; }
    .navbar-menu-list > li:nth-child(3):hover .sub-menu{ display: none; }
    .sub-menu{
      position: initial;
      width: 100%;
      margin-top: 10px;
    }
    .sub-menu > li{
      display: block;
      padding: 20px 0px 20px 20px;
      width: calc(100% - 20px);
    }
  }
  